<aside class="menu">
  <header>
    <span class="icon-text">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        <h1>{{ title$ | async }}</h1>
    </span>
  </header>

  <div>
    <p class="menu-label">
      Tables Types:
    </p>
    <ul class="menu-list">
      <li>
        <a class="button" routerLink="/tables/pagination">{{TableTypes[paginationLabel]}}</a>
      </li>
      <li>
        <a class="button" routerLink="/tables/infinite">{{TableTypes[infiniteLabel]}}</a>
      </li>
    </ul>
  </div>
</aside>
