nav {
  margin: auto;

  a {
  width: 125px;
  transition: 1s;

  &.disabled {
    color: currentColor;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
  }

  &:hover {
    color: gold;
  }
}

  a:active {
    color: blue;
    margin: -2px;
  }
}
